.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fade 1s;
  z-index: 999;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  max-width: 306px;
  height: 400px;
  background-color: #141010;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.formTitle {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.formInput {
  width: 276px;
  height: 35px;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  background: #0f0f0f;
  padding: 10px;
  color: #b6b6b6;
}
.formInput::placeholder {
  color: #b6b6b6;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.loginBtn {
  color: #0f0f0f;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  background: #e3ffa8;
  border: none;
  height: 35px;
}

.modalSubTest {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
