.productCards {
  display: flex;
}
.cardItems {
  width: 233px;
  height: 350px;
}
.cardItemsTitle {
  width: 233px;
  height: 350px;
  background-image: url("../../images/cardBack.png");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
}
.productWrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
